body{
	background-image:linear-gradient(to right,#37456a,#2e3b5d,#242f4b);
}

/*index page*/

.heading{
	color:white;
	font-family:Tahoma;
}


.buttons button{
	background-image:linear-gradient(to right, #fc6ab5, #ad77e7);
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family:Tahoma;
	height: 50px;
	width: 150px;
	border-radius: 10px;
}

.logo img{
	width: 270px;
}


/*login page*/


.profile_logo img
{
	padding-top: 25px;
}

.name h3{
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family:Tahoma;
}


input[type=text] {
	background-color: #37456a;
   border: none;
   border-bottom: 3px solid white;
   height: 30px; 
   width: 200px; 
   color: white;
}

label{
	color: white;
	font-family:Tahoma;

}


.buttons button{
	background-image:linear-gradient(to right, #fc6ab5, #ad77e7);
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family:Tahoma;
	height: 55px;
	width: 250px;
	border-radius: 10px;
	margin-top: 55px;
}


/*payment page*/
.profile h3{
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family:Tahoma;
}


.card{
	padding-top: 20px;
}

/*payment successfull*/
.balance{
	padding-top: 60px;
}








